header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid black;
}

header h1 {
    flex-grow: 1;
}

.mtg-logo {
    width: 300px;
}

.user-profile {
    height: 100%;
    padding: 3px;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin: 4px;
    justify-content: space-evenly;
}

.user-profile span {
    flex-grow: 1;
    margin-right: 5px;
}

.user-profile button {
    
}


.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 3px;
}