#card-gallery {
    display: flex;
    flex-direction: row-reverse;
    border: 3px solid orange;
    width: 100%;
    align-items: flex-start;
    
}

form {
    width: 35%;
    height: 700px;
    border: 3px solid blue;
}

#display-cards {
    display: flex;
    justify-content: center;
    width: 100%;
}

#card-list {
    width: 700px;
    margin: 0;
    height: 100%;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.card-item {
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
    background-color: oldlace;
    width: 650px;
    margin: 2px;
    
}

.card-cost {
    width: 70px;
}

.card-title {
    font-size: 16px;
    margin-bottom: 5px;
}
.card-text, .card-flavor {
    font-size: 14px;
    margin: 3px;
}

.card-flavor {
    font-style: italic;
}

.favorite-star {
    align-self: flex-start;
    font-weight: bold;
}

.card-pic {
    width: 100px;
    margin-right: 10px;
}

th, td {
    font-size: 12px;
}

.card-cost img, .card-text img{
    width: 12px;
    wight: 12px;
}

.card-item div {
    width: 500px;
    display: flex;
    flex-direction: column;
}